<!DOCTYPE html>
<html>
<head>
    <title>Hệ thống gợi ý phim</title>
</head>
<body>
    <h1>Nhập ID người dùng để nhận gợi ý phim</h1>
    <form method="post" action="/recommend">
        <input type="number" name="user_id" required placeholder="Nhập userId...">
        <input type="submit" value="Gợi ý">
    </form>

    {% if results %}
        <h2>Phim được gợi ý cho user {{ user_id }}:</h2>
        <ul>
        {% for title in results %}
            <li>{{ title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
